<section class="bottombar-section">
  <div class="container">
   
    
    <div class="row">
      <div class="col-lg-12">
        <div class="bottonAppBar">
          <div class="tapTo-top">
            <div class="tap-box">
              <span>
                <i class="fa-solid fa-plus"></i>
              </span>
            </div>
            </div>
          <div class="bottom-item">
            <span>
              <i class="fa-solid fa-road"></i>
            </span>
           <div class="btm-content">
              <p>Home</p>
           </div>
          </div>
          <div class="bottom-item">
            <span>
              <i class="fa-solid fa-road"></i>
            </span>
            <div class="btm-content">
              <p>Home</p>
           </div>
          </div>
          <div class="bottom-item">
            <span>
              <i class="fa-solid fa-road"></i>
            </span>
            <div class="btm-content">
              <p>Home</p>
           </div>
          </div>
          <div class="bottom-item">
            <span>
              <i class="fa-solid fa-road"></i>
            </span>
            <div class="btm-content">
              <p>Home</p>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>