<section class="service-section py-80">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-10">
              <div class="banner__content text-center">
                  <span class="subtitle">// Our Service</span>
                  <h2>
                      Your Partner In Digital Success
                      <span>Technology</span> Solutions
                  </h2>
                  <p class="section-heading__desc mb-30">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
              </div>
          </div>
      </div>
   
          <div class="row pt-5 g-4 card_wraper" id="card_wraper">
              <div class="col-lg-4 col-md-6">
                  <div class="card_body">
                      <div class="card-img">
                          <img src="/assets/images/service/software.png" >
                      </div>
                      <div class="content">
                          <h2>E-commerce Solutions</h2>
                          <p>E-commerce is simply is design iomyi is text Lorem Ipsum is simply is our busi Lorem is Ipsum is</p>
                      </div>
                      
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="card_body">
                      <div class="card-img">
                          <img src="/assets/images/service/strategy.png" >
                      </div>
                      <div class="content ">
                          <h2>Planning Department</h2>
                          <p>Planning Ipsum is simply is design iomyi is text Lorem Ipsum is simply is our busi Lorem is Ipsum is</p>
                      </div>

                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="card_body">
                      <div class="card-img">
                          <img src="/assets/images/service/growth.png" >
                      </div>
                      <div class="content">
                          <h2>Business Solutions</h2>
                          <p>Business Ipsum is simply is design iomyi is text Lorem Ipsum is simply is our busi Lorem is Ipsum is</p>
                      </div>

                  </div>
              </div>
          </div>
          <div class="row">
            <button class="base-btn">View</button>
          </div>
    
  </div>
 
</section>