<!-- ========  Feature section ===== -->
<section class="feature-section pt-80" >
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center hero-content">
                <h2> Our Featured Products </h2>
                <p>consectetur adipisicing elit. Sed, iste maiores dolore iusto in vero unde amet, ipsam laborum eveniet, veritatis dolor incidunt blanditiis voluptatibus.</p>
            </div>
        </div>
        <div class="row pt-5 g-4 card_wraper" id="card_wraper">
          
              <!-- card  -->
            <div class="col-lg-3 col-md-4 " >
                <div class="card_body">
                    <div class="card-img">
                        <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am27225.jpg" >
                    </div>
                    <div class="content">
                        <div class="content-text">
                            <p>Themes</p>
                            <h5><a href="#" target="_blank">Cididunt ut labore et la</a></h5>
                        </div>
                        <div class="card-meta">
                            <div class="price">
                                <h5 class="product-price mb-3">$119</h5>
                                <div class="ratings-box">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                            </div>
                            <div class="btm">
                                <div class="sale">
                                    <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                </div>
                                <div class="cart">
                                    <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                

                <div class="col-lg-3 col-md-4 " >
                    <div class="card_body">
                        <div class="card-img">
                            <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1131-am46209.jpg" >
                        </div>
                        <div class="content">
                            <div class="content-text">
                                <p>Themes</p>
                                <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                            </div>
                            <div class="card-meta">
                                <div class="price">
                                    <h5 class="product-price mb-3">$119</h5>
                                    <div class="ratings-box">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                                <div class="btm">
                                    <div class="sale">
                                        <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                    </div>
                                    <div class="cart">
                                        <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 " >
                    <div class="card_body">
                        <div class="card-img">
                            <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1129-am73504.jpg" >
                        </div>
                        <div class="content">
                            <div class="content-text">
                                <p>Themes</p>
                                <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                            </div>
                            <div class="card-meta">
                                <div class="price">
                                    <h5 class="product-price mb-3">$119</h5>
                                    <div class="ratings-box">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                                <div class="btm">
                                    <div class="sale">
                                        <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                    </div>
                                    <div class="cart">
                                        <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 " >
                    <div class="card_body">
                        <div class="card-img">
                            <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1125-am22992.jpg" >
                        </div>
                        <div class="content">
                            <div class="content-text">
                                <p>Themes</p>
                                <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                            </div>
                            <div class="card-meta">
                                <div class="price">
                                    <h5 class="product-price mb-3">$119</h5>
                                    <div class="ratings-box">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                                <div class="btm">
                                    <div class="sale">
                                        <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                    </div>
                                    <div class="cart">
                                        <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-4 " >
                    <div class="card_body">
                        <div class="card-img">
                            <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1131-am46209.jpg" >
                        </div>
                        <div class="content">
                            <div class="content-text">
                                <p>Themes</p>
                                <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                            </div>
                            <div class="card-meta">
                                <div class="price">
                                    <h5 class="product-price mb-3">$119</h5>
                                    <div class="ratings-box">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                                <div class="btm">
                                    <div class="sale">
                                        <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                    </div>
                                    <div class="cart">
                                        <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 " >
                    <div class="card_body">
                        <div class="card-img">
                            <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am27225.jpg" >
                        </div>
                        <div class="content">
                            <div class="content-text">
                                <p>Themes</p>
                                <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                            </div>
                            <div class="card-meta">
                                <div class="price">
                                    <h5 class="product-price mb-3">$119</h5>
                                    <div class="ratings-box">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                                <div class="btm">
                                    <div class="sale">
                                        <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                    </div>
                                    <div class="cart">
                                        <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 " >
                    <div class="card_body">
                        <div class="card-img">
                            <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1131-am46209.jpg" >
                        </div>
                        <div class="content">
                            <div class="content-text">
                                <p>Themes</p>
                                <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                            </div>
                            <div class="card-meta">
                                <div class="price">
                                    <h5 class="product-price mb-3">$119</h5>
                                    <div class="ratings-box">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                                <div class="btm">
                                    <div class="sale">
                                        <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                    </div>
                                    <div class="cart">
                                        <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 " >
                    <div class="card_body">
                        <div class="card-img">
                            <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am27225.jpg" >
                        </div>
                        <div class="content">
                            <div class="content-text">
                                <p>Themes</p>
                                <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                            </div>
                            <div class="card-meta">
                                <div class="price">
                                    <h5 class="product-price mb-3">$119</h5>
                                    <div class="ratings-box">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                                <div class="btm">
                                    <div class="sale">
                                        <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                    </div>
                                    <div class="cart">
                                        <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- / card  -->
              
            <!-- btn -->
        
            <div class="mt-5 text-center">
                <a class="base-btn ripple">View More</a>
            </div>
             <!-- / btn -->
        </div>
        
    </div>  
</section>
<!-- ======== / Feature section ===== -->
