<section class="feature-section py-80" >
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center hero-content">
                <h2>Our Featured Products</h2>
                <p>consectetur adipisicing elit. Sed, iste maiores dolore iusto in vero unde amet, ipsam laborum eveniet, veritatis dolor incidunt blanditiis voluptatibus.</p>
            </div>
        </div>
        <div class="row pt-5 g-4 card_wraper" id="card_wraper">
            <div class="swiper">
                <div class="swiper-wrapper">

                    <div class="col-lg-3 col-md-4 swiper-slide">
                        <div class="card_body">
                            <div class="card-img">
                                <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am27225.jpg" >
                            </div>
                            <div class="content">
                                <div>
                                    <p>Themes</p>
                                    <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                                </div>
                                <div class="card-meta">
                                    <div class="price">
                                        <h5 class="product-price mb-3">$119</h5>
                                    </div>
                                    <div class="btm">
                                        <div class="sale">
                                            <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                        </div>
                                        <div class="cart">
                                            <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 swiper-slide">
                        <div class="card_body">
                            <div class="card-img">
                                <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am27225.jpg" >
                            </div>
                            <div class="content">
                                <div>
                                    <p>Themes</p>
                                    <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                                </div>
                                <div class="card-meta">
                                    <div class="price">
                                        <h5 class="product-price mb-3">$119</h5>
                                    </div>
                                    <div class="btm">
                                        <div class="sale">
                                            <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                        </div>
                                        <div class="cart">
                                            <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 swiper-slide">
                        <div class="card_body">
                            <div class="card-img">
                                <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am27225.jpg" >
                            </div>
                            <div class="content">
                                <div>
                                    <p>Themes</p>
                                    <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                                </div>
                                <div class="card-meta">
                                    <div class="price">
                                        <h5 class="product-price mb-3">$119</h5>
                                    </div>
                                    <div class="btm">
                                        <div class="sale">
                                            <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                        </div>
                                        <div class="cart">
                                            <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 swiper-slide">
                        <div class="card_body">
                            <div class="card-img">
                                <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am27225.jpg" >
                            </div>
                            <div class="content">
                                <div>
                                    <p>Themes</p>
                                    <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                                </div>
                                <div class="card-meta">
                                    <div class="price">
                                        <h5 class="product-price mb-3">$119</h5>
                                    </div>
                                    <div class="btm">
                                        <div class="sale">
                                            <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                        </div>
                                        <div class="cart">
                                            <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 swiper-slide">
                        <div class="card_body">
                            <div class="card-img">
                                <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am27225.jpg" >
                            </div>
                            <div class="content">
                                <div>
                                    <p>Themes</p>
                                    <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                                </div>
                                <div class="card-meta">
                                    <div class="price">
                                        <h5 class="product-price mb-3">$119</h5>
                                    </div>
                                    <div class="btm">
                                        <div class="sale">
                                            <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                        </div>
                                        <div class="cart">
                                            <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 swiper-slide">
                        <div class="card_body">
                            <div class="card-img">
                                <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am27225.jpg" >
                            </div>
                            <div class="content">
                                <div>
                                    <p>Themes</p>
                                    <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                                </div>
                                <div class="card-meta">
                                    <div class="price">
                                        <h5 class="product-price mb-3">$119</h5>
                                    </div>
                                    <div class="btm">
                                        <div class="sale">
                                            <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                        </div>
                                        <div class="cart">
                                            <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 swiper-slide">
                        <div class="card_body">
                            <div class="card-img">
                                <img src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am27225.jpg" >
                            </div>
                            <div class="content">
                                <div>
                                    <p>Themes</p>
                                    <h5><a href="#" target="_blank">Cididunt ut labore et</a></h5>
                                </div>
                                <div class="card-meta">
                                    <div class="price">
                                        <h5 class="product-price mb-3">$119</h5>
                                    </div>
                                    <div class="btm">
                                        <div class="sale">
                                            <p><i class="fa-solid fa-cart-shopping"></i> 7 sales</p>
                                        </div>
                                        <div class="cart">
                                            <button class="card-actn__btn"><i class="fa-solid fa-cart-shopping"></i> Purchase</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  -->
                </div>  
            </div>
           
           
            


            <!-- btn -->
        
            <div class="mt-5 text-center">
                <button class="base-btn ripple">View More</button>
            </div>
        </div>
        
    </div>  
</section>
