<section class="hero py-120 hero-bg">
    
    <span class="animate-container">
        <img src="/assets/images/banner/logo1.png" class="animate-logo img-1" data-value="-2" alt="logo"/>
        <img src="/assets/images/banner/logo2.png" class="animate-logo img-2" data-value="6" alt="logo"/>
        <img src="/assets/images/banner/logo3.png" class="animate-logo img-3" data-value="5" alt="logo"/>
        <img src="/assets/images/banner/logo4.png" class="animate-logo img-4" data-value="4" alt="logo"/>
        <img src="/assets/images/banner/logo5.png" class="animate-logo img-5" data-value="9" alt="logo"/>
        <img src="/assets/images/banner/logo6.png" class="animate-logo img-6" data-value="8" alt="logo"/>
        <img src="/assets/images/banner/logo7.png" class="animate-logo img-7" data-value="4" alt="logo"/>
        <img src="/assets/images/banner/logo8.png" class="animate-logo img-8" data-value="5" alt="logo"/>
        <img src="/assets/images/banner/logo9.png" class="animate-logo img-9" data-value="-9" alt="logo"/>
        <img src="/assets/images/banner/logo10.png" class="animate-logo img-10" data-value="-4" alt="logo"/>
        <img src="/assets/images/banner/logo11.png" class="animate-logo img-11" data-value="-8" alt="logo"/>
        <img src="/assets/images/banner/logo12.png" class="animate-logo img-12" data-value="-8" alt="logo"/>
    </span>
    
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center hero-content">
                <h2>365 Digital products and elements in this platform</h2>
                <p>wstacks@gmail.com</p>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-xl-7 col-lg-8 text-center">
                <form class="search-bar">
                    <i class="las la-search icon"></i>
                    <input class="form--control" id="search" name="search" type="text" placeholder="e.g. php script">
                    <button class="base-btn search-btn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>