<!--========================== Header section Start ==========================-->
<header class="header-area ">
    <div class="container" >
        <div class="row">
            <div class="col-12">
            <div class="main-nav">
                <i class="fa-sharp fa-solid fa-bars-staggered ham__menu" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></i>
                <!-- ***** Logo Start ***** -->
                <div class="logo-box">
                    <a href="index.html" class="logo">
                        wStacks
                    </a>
                </div>
                 <!-- ***** Logo End ***** -->

                <nav>
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav-link">
                        <li><a href="#" class="active">Home</a></li>
                        <li class="headShake"><a href="#">Meetings</a></li>
                        <li><a href="#">Apply Now</a></li>
                        <li><a href="#">Courses</a></li> 
                        <li><a href="#">Contact Us</a></li>  
                    </ul>        
                   
                    <!---- ***** Menu End ***** -->
                </nav>
            </div>
            </div>
        </div>
    </div>
</header>
<!--========================== Header section End ==========================-->


 <!--========================== Sidebar mobile menu wrap Start ==========================-->

  
  <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title text-bg-dark" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
      </div>
      
    </div>
  </div>





<!--========================== Sidebar mobile menu wrap End ==========================-->