<!-- ========  new item section ===== -->
<section class="new-section pt-80" >
    <div class="container" >
        <div class="row justify-content-left text-left">
            <div class="col-xl-7 col-lg-8 hero-content">
                <h2>Our New Releases</h2>
                
            </div>
        </div>
        <div class="row pt-5 g-4 new-product-card_wraper">
          
              <!-- card  -->
            <div class="col-lg-4 col-md-6 mb-2 py-3" >
                <div class="product-container align-items-center pb-3 border-bottom"> 
                    <a class="d-block "> 
                        <img width="72" style="border-radius: 8px;" src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am95173.jpg" alt="Cididunt ut labore et"> 
                    </a> 
                    <div class="product-card-body"> 
                        <h6 class="product-title"><a href="https://upworks.monster/demo/downgrade/item/cididunt-ut-labore-et">Cididunt ut labore et</a></h6> 
                        <div class="product-meta">
                            <span class="text-accent">$321323</span> 
                            <a href="#" class="mx-3">See More</a>
                        </div> 
                    </div> 
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-2 py-3" >
                <div class="product-container align-items-center pb-3 border-bottom"> 
                    <a > 
                        <img width="72" style="border-radius: 8px;" src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am27225.jpg" alt="Cididunt ut labore et"> 
                    </a> 
                    <div class="product-card-body"> 
                        <h6 class="product-title"><a href="https://upworks.monster/demo/downgrade/item/cididunt-ut-labore-et">Cididunt ut labore et</a></h6> 
                        <div class="product-meta">
                            <span class="text-accent">$3</span> 
                            <a href="#" class="mx-3">See More</a>
                        </div> 
                    </div> 
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-2 py-3" >
                <div class="product-container align-items-center pb-3 border-bottom"> 
                    <a href="https://www.facebook.com/" target="_blank"> 
                        <img width="72" style="border-radius: 8px;" src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am95173.jpg" alt="Cididunt ut labore et"> 
                    </a> 
                    <div class="product-card-body"> 
                        <h6 class="product-title"><a href="https://upworks.monster/demo/downgrade/item/cididunt-ut-labore-et">Cididunt ut labore et</a></h6> 
                        <div class="product-meta">
                            <span class="text-accent">$3</span> 
                            <a href="#" class="mx-3">See More</a>
                        </div> 
                    </div> 
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-2 py-3" >
                <div class="product-container align-items-center pb-3 border-bottom"> 
                    <a href="https://www.facebook.com/" target="_blank"> 
                        <img width="72" style="border-radius: 8px;" src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1124-am62254.jpg" alt="Cididunt ut labore et"> 
                    </a> 
                    <div class="product-card-body"> 
                        <h6 class="product-title"><a href="#" target="_blank">Cididunt ut labore et</a></h5></h6> 
                        <div class="product-meta">
                            <span >$3</span> 
                            <a href="#" class="mx-3">See More</a>
                        </div> 
                    </div> 
                </div>
            </div>
                

            <div class="col-lg-4 col-md-6 mb-2 py-3" >
                <div class="product-container align-items-center pb-3 border-bottom"> 
                    <a href="https://www.facebook.com/" target="_blank"> 
                        <img width="72" style="border-radius: 8px;" src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am95173.jpg" alt="Cididunt ut labore et"> 
                    </a> 
                    <div class="product-card-body"> 
                        <h6 class="product-title"><a href="https://upworks.monster/demo/downgrade/item/cididunt-ut-labore-et">Cididunt ut labore et</a></h6> 
                        <div class="product-meta">
                            <span class="text-accent">$3</span>
                            <a href="#" class="mx-3">See More</a> 
                        </div> 
                    </div> 
                </div>
            </div>

               
            <div class="col-lg-4 col-md-6 mb-2 py-3" >
                <div class="product-container align-items-center pb-3 border-bottom"> 
                    <a > 
                        <img width="72" style="border-radius: 8px;" src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am27225.jpg" alt="Cididunt ut labore et"> 
                    </a> 
                    <div class="product-card-body"> 
                        <h6 class="product-title"><a href="https://upworks.monster/demo/downgrade/item/cididunt-ut-labore-et">Cididunt ut labore et</a></h6> 
                        <div class="product-meta">
                            <span class="text-accent">$3</span> 
                            <a href="#" class="mx-3">See More</a>
                        </div> 
                    </div> 
                </div>
            </div>
                

                

            <div class="col-lg-4 col-md-6 mb-2 py-3" >
                <div class="product-container align-items-center pb-3 border-bottom"> 
                    <a href="https://www.facebook.com/" target="_blank"> 
                        <img width="72" style="border-radius: 8px;" src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am95173.jpg" alt="Cididunt ut labore et"> 
                    </a> 
                    <div class="product-card-body"> 
                        <h6 class="product-title"><a href="https://upworks.monster/demo/downgrade/item/cididunt-ut-labore-et">Cididunt ut labore et</a></h6> 
                        <div class="product-meta">
                            <span class="text-accent">$3</span> 
                            <a href="#" class="mx-3">See More</a>
                        </div> 
                    </div> 
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-2 py-3" >
                <div class="product-container align-items-center pb-3 border-bottom"> 
                    <a href="https://www.facebook.com/" target="_blank"> 
                        <img width="72" style="border-radius: 8px;" src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am95173.jpg" alt="Cididunt ut labore et"> 
                    </a> 
                    <div class="product-card-body"> 
                        <h6 class="product-title"><a href="https://upworks.monster/demo/downgrade/item/cididunt-ut-labore-et">Cididunt ut labore et</a></h6> 
                        <div class="product-meta">
                            <span class="text-accent">$3</span> 
                            <a href="#" class="mx-3">See More</a>
                        </div> 
                    </div> 
                </div>
            </div>
 

            <div class="col-lg-4 col-md-6 mb-2 py-3" >
                <div class="product-container align-items-center pb-3 border-bottom"> 
                    <a href="https://www.facebook.com/" target="_blank"> 
                        <img width="72" style="border-radius: 8px;" src="https://upworks.monster/demo/downgrade/public/storage/product/tue-dec-13-2022-1122-am95173.jpg" alt="Cididunt ut labore et"> 
                    </a> 
                    <div class="product-card-body"> 
                        <h6 class="product-title"><a href="https://upworks.monster/demo/downgrade/item/cididunt-ut-labore-et">Cididunt ut labore et</a></h6> 
                        <div class="product-meta">
                            <span class="text-accent">$3</span> 
                            <a href="#" class="mx-3">See More</a>
                        </div> 
                    </div> 
                </div>
            </div>

            <!-- / product card  -->
              
            <!-- btn -->
        
            <div class="mt-5 text-center">
                <a class="base-btn ripple">View More</a>
            </div>
             <!-- / btn -->
        </div>
        
    </div>  
</section>
<!-- ======== / new item section ===== -->
