<section class="testimonial-section pt-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center hero-content">
                <h2> Our Client's Say About Us</h2>
                <p>consectetur adipisicing elit. Sed, iste maiores dolore iusto in vero unde amet, ipsam laborum eveniet, veritatis dolor incidunt blanditiis voluptatibus.</p>
            </div>
        </div>
        <div class="row pt-5 slider">


            <div class="col-lg-3 col-md-12 testimonial-card-wraper" >
                <div class="testimonial-card_body">
                    <div class="testimonial-img">
                        <img src="https://script.viserlab.com/digilab/assets/images/frontend/testimonial/60bc6b43a77ef1622960963.jpg" >
                    </div>
                    <div class="testimonial-profile_info">
                       <h6>MD.Obydul</h6>
                        <p>Senior Frontend Developer</p>  
                    </div>
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo iste ipsum. Cupiditate illo inventore ullam. Quasi, explicabo ut quae voluptatem </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 testimonial-card-wraper" >
                <div class="testimonial-card_body">
                    <div class="testimonial-img">
                        <img src="https://script.viserlab.com/digilab/assets/images/frontend/testimonial/60bc6b576f0911622960983.jpg" >
                    </div>
                    <div class="testimonial-profile_info">
                       <h6>MD.Obydul</h6>
                        <p>Senior Frontend Developer</p>  
                    </div>
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo iste ipsum. Cupiditate illo inventore ullam. Quasi, explicabo ut quae voluptatem </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 testimonial-card-wraper" >
                <div class="testimonial-card_body">
                    <div class="testimonial-img">
                        <img src="https://script.viserlab.com/digilab/assets/images/frontend/testimonial/60bc6b3162c1a1622960945.jpg" >
                    </div>
                    <div class="testimonial-profile_info">
                       <h6>MD.Obydul</h6>
                        <p>Senior Frontend Developer</p>  
                    </div>
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo iste ipsum. Cupiditate illo inventore ullam. Quasi, explicabo ut quae voluptatem </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 testimonial-card-wraper" >
                <div class="testimonial-card_body">
                    <div class="testimonial-img">
                        <img src="https://script.viserlab.com/digilab/assets/images/frontend/testimonial/60bc6b43a77ef1622960963.jpg" >
                    </div>
                    <div class="testimonial-profile_info">
                       <h6>MD.Obydul</h6>
                        <p>Senior Frontend Developer</p>  
                    </div>
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo iste ipsum. Cupiditate illo inventore ullam. Quasi, explicabo ut quae voluptatem </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 testimonial-card-wraper" >
                <div class="testimonial-card_body">
                    <div class="testimonial-img">
                        <img src="https://script.viserlab.com/digilab/assets/images/frontend/testimonial/60bc6b43a77ef1622960963.jpg" >
                    </div>
                    <div class="testimonial-profile_info">
                       <h6>MD.Obydul</h6>
                        <p>Senior Frontend Developer</p>  
                    </div>
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo iste ipsum. Cupiditate illo inventore ullam. Quasi, explicabo ut quae voluptatem </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 testimonial-card-wraper" >
                <div class="testimonial-card_body">
                    <div class="testimonial-img">
                        <img src="https://script.viserlab.com/digilab/assets/images/frontend/testimonial/60bc6b43a77ef1622960963.jpg" >
                    </div>
                    <div class="testimonial-profile_info">
                       <h6>MD.Obydul</h6>
                        <p>Senior Frontend Developer</p>  
                    </div>
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo iste ipsum. Cupiditate illo inventore ullam. Quasi, explicabo ut quae voluptatem </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 testimonial-card-wraper" >
                <div class="testimonial-card_body">
                    <div class="testimonial-img">
                        <img src="https://script.viserlab.com/digilab/assets/images/frontend/testimonial/60bc6b43a77ef1622960963.jpg" >
                    </div>
                    <div class="testimonial-profile_info">
                       <h6>MD.Obydul</h6>
                        <p>Senior Frontend Developer</p>  
                    </div>
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo iste ipsum. Cupiditate illo inventore ullam. Quasi, explicabo ut quae voluptatem </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 testimonial-card-wraper" >
                <div class="testimonial-card_body">
                    <div class="testimonial-img">
                        <img src="https://script.viserlab.com/digilab/assets/images/frontend/testimonial/60bc6b43a77ef1622960963.jpg" >
                    </div>
                    <div class="testimonial-profile_info">
                       <h6>MD.Obydul</h6>
                        <p>Senior Frontend Developer</p>  
                    </div>
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo iste ipsum. Cupiditate illo inventore ullam. Quasi, explicabo ut quae voluptatem </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 testimonial-card-wraper" >
                <div class="testimonial-card_body">
                    <div class="testimonial-img">
                        <img src="https://script.viserlab.com/digilab/assets/images/frontend/testimonial/60bc6b576f0911622960983.jpg" >
                    </div>
                    <div class="testimonial-profile_info">
                       <h6>MD.Obydul</h6>
                        <p>Senior Frontend Developer</p>  
                    </div>
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo iste ipsum. Cupiditate illo inventore ullam. Quasi, explicabo ut quae voluptatem </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>