.getintouch-section{
    margin-top: -150px;
    .getintouch-formCard{
        border-radius: 24px;
        width: 70%;
        box-shadow: 0px 3px 20px rgba(0, 33, 71, 0.06);
        padding: 24px;
        margin: 40px 0px 0px -150px;
        background-color: rgba(255, 255, 255, 100);
        .card-heading{
            text-align: left;
        }
    }

}

@media only screen and (max-width: 937px) {
    .getintouch-section{
        margin-top: 0px;
        .formCard-wraper{
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            .getintouch-formCard{
                margin: 0;
            }
        }
       
    }
}


@media only screen and (max-width: 425px) {
    .getintouch-section{
        margin-top: 0px;
        .formCard-wraper{
            width: 100% !important;
            display: flex;
            justify-content:left;
            align-items: center;
            .getintouch-formCard{
                width: 100% !important;
            }
        }
       
    }
}